<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
		<title th:text="#{cart.title}">Warenkorb</title>
	</head>
<body>
	<div class="all">
		<header>
			<h1 th:text="#{cart.title}">Warenkorb</h1>
		</header>
		<nav th:include="navigation :: navigation"></nav>

		<div class="content">
			<div th:unless="${cart.empty}">
				<table>
					<caption th:text="#{cart.title}">Warenkorb</caption>
					<thead>
						<tr>
							<th th:text="#{cart.day}">Tag</th>
							<th th:text="#{cart.meals}">Speisen</th>
							<th th:text="#{cart.price}">Preis</th>
							<th th:text="#{cart.deleteItem}">Löschen</th>
						</tr>
					</thead>
					<tbody th:remove="all-but-first">

						<tr th:each="item : ${cart} ">
							<td th:text="${item.product.day}">Tag</td>
							<td th:text="${item.quantity}+' * '+${item.productName}">Mahlzeit</td>
							<td th:text="${item.price}">Preis</td>
							<td>
							<form method="get" action="deleteItem">
							<input type="hidden" th:value="${item.identifier}" name="pid"/>
							<input type="submit" th:value="#{cart.deleteItem}" value="dec" />
							</form>
							 </td>
						</tr>

					</tbody>
				</table>
				<p th:text="#{cart.total} + ': ' + ${cart.price}">Preis</p>
				<div class="salespoint" sec:authorize="hasRole('ROLE_CUSTOMER')">
					<form method="get" action="checkout">
						<input type="submit" th:value="#{cart.buy}" value="Kaufen" />
					</form>
					<form method="get" action="emptyCart">
						<input type="submit" th:value="#{cart.delete}" value="Delete" />
					</form>
				</div>
			</div>

			<p th:if="${cart.empty}" th:text="#{cart.empty}">Leer</p>
		</div>
	</div>
</body>
</html>