<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
	<title th:text="#{menu.title}">Tageskarte</title>
</head>
<body>
	<div class="all">
		<header>
			<h1 th:text="#{menu.title}">Tageskarte</h1>
		</header>
		<nav th:include="navigation :: navigation" ></nav>
		
		<div class="content">
			<div th:if="${actualMenu != null}">
			<form method="post" action="addMealsToBasket">
			<table>
				<caption th:text="#{menu.menuFor}+${actualMenu.calendarWeek}+#{menu.calendarWeek}">Aktuelle Speisen</caption>
				<thead>
					<tr>
						<th th:text="#{menu.day}">Tag</th>
						<th th:text="#{menu.normal}">Normal</th>
						<th th:text="#{menu.special}">Spezial</th>
						<th th:text="#{menu.diet}">Diät</th>
						
					</tr>
				</thead>
				<tbody>
						<tr th:each=" dailyMenu : ${actualMenu.dailyMenus}">
							<td th:text="${dailyMenu.day}">Tag</td>
							<td> 
							<p th:text="${dailyMenu.dailyMeals[0].meal.name}">Mahlzeit</p>
							<p th:text="${dailyMenu.dailyMeals[0].price}">Preis</p>
							<p th:text="#{menu.quantity}">Anzahl:</p>
							<p><input type="text" id="quantity" name="quantity"  /></p>
							<input type="hidden" th:value="${dailyMenu.dailyMeals[0].identifier}" name="pid"/>
							</td>
							<td> 
							<p th:text="${dailyMenu.dailyMeals[1].meal.name}">Mahlzeit</p>
							<p th:text="${dailyMenu.dailyMeals[1].price}">Preis</p>
							<p th:text="#{menu.quantity}">Anzahl:</p>
							<p><input type="text" id="quantity" name="quantity"  /></p>
							<input type="hidden" th:value="${dailyMenu.dailyMeals[1].identifier}" name="pid"/>							
							</td>
							<td>
							<p th:text="${dailyMenu.dailyMeals[2].meal.name}">Mahlzeit</p>
							<p th:text="${dailyMenu.dailyMeals[2].price}">Preis</p>							
							<p th:text="#{menu.quantity}">Anzahl:</p>
							<p><input type="text" id="quantity" name="quantity"  /></p>
							<input type="hidden" th:value="${dailyMenu.dailyMeals[2].identifier}" name="pid"/>							
							</td>
						    
							
						</tr>																								
				</tbody>
			</table>
			<input type="submit" />
			</form>
			</div>
		</div>
	</div>
</body>
</html>